<h2>Welcome to the Leadership Macon Online Nomination System</h2>

<p>
  Welcome to the online Leadership Macon Nomination System.
</p>

<p>
  This website allows you to quickly and easily submit nominations for next year's
  Leadership Macon class digitally. You may nominate any number of people for Leadership
  Macon's class, however please do ensure that you provide accurate contact information
  for yourself so that we may contact you in the event we have any questions about your
  nominations.
</p>

<p>
  This online Application is designed to be compatible with IE 9, Firefox 12, Chrome, and
  Safari. If you experience problems with any of these browsers, then please contact us
  and let us know. This application may function partially in IE 7 or IE 8, but we do
  not officially support those browsers.
</p>

<p>
  Thank you for supporting Leadership Macon.
</p>
