<!DOCTYPE html>
<html>
  <head>
    <title>Leadership Macon Online Nominations</title>

    <!-- Application Styles -->
    <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen" title="LM Nomination Stylesheet" charset="utf-8" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span12">
          <h1>Leadership Macon Online Nominations</h1>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <h3>Main Menu</h3>
          <nav>
            <a href="#">Start New Nomination</a>
            <a href="#">Return to Leadership Macon</a>
          </nav>
        </div>
        <div class="span9">
          {{html body}}
        </div>
      </div>
    </div>
  </body>
</html>