doctype 5
html
  head
    title Leadership Macon Online Nominations
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container
      div.row
        div.span12
          block content
