<h1>Leadership Macon Nomination</h1>

<p>
  Please double check your responses for accuracy before submitting the form.
</p>

<form action="/submit" method="post">
  <fieldset>
    <legend>Nominee Contact Information</legend>
    <div class="control-group">
      <label class="control-label" for="nominee_salutation">Salutation</label>
      <div class="controls">
        <select name="nomination[nominee][salutation]" id="nominee_salutation">
          <option value="mr">Mr.</option>
          <option value="ms">Ms.</option>
          <option value="mrs">Mrs.</option>
        </select>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="nominee_first_name">First Name</label>
      <div class="controls">
        <input type="text" class="input-xxlarge" id="nominee_first_name" name="nomination[nominee][first_name]">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="nominee_middle_name">Middle Name</label>
      <div class="controls">
        <input type="text" class="input-xxlarge" id="nominee_middle_name" name="nomination[nominee][middle_name]">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="nominee_first_name">Last Name</label>
      <div class="controls">
        <input type="text" class="input-xxlarge" id="nominee_last_name" name="nomination[nominee][last_name]">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="nominee_suffix">Suffix (i.e. JR)</label>
      <div class="controls">
        <input type="text" class="input-small" id="nominee_suffix" name="nomination[nominee][suffix]">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="nominee_organization">Organization</label>
      <div class="controls">
        <input type="text" class="input-xxlarge" id="nominee_organization" name="nomination[nominee][organization]">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="nominee_email">Email</label>
      <div class="controls">
        <input type="text" class="input-xxlarge" id="nominee_email" name="nomination[nominee][email]">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="nominee_street_address">Street Address</label>
      <div class="controls">
        <input type="text" class="input-xxlarge" id="nominee_street_address" name="nomination[nominee][street_address]">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="nominee_city">City</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="nominee_city" name="nomination[nominee][city]">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="nominee_state">State</label>
      <div class="controls">
        <input type="text" class="input-small" id="nominee_state" name="nomination[nominee][state]" value="GA" disabled="true">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="nominee_zip">ZIP</label>
      <div class="controls">
        <input type="text" class="input-small" id="nominee_zip" name="nomination[nominee][zip]">
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Your Contact Information</legend>
    <div class="control-group">
      <label class="control-label" for="nominator_name">Your Name</label>
      <div class="controls">
        <input type="text" class="input-xxlarge" id="nominator_name" name="nomination[nominator][name]">
        <p class="help-block">Enter your first and last name.</p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="nominator_organization">Your Organization</label>
      <div class="controls">
        <input type="text" class="input-xxlarge" id="nominator_organization" name="nomination[nominator][organization]">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="nominator_name">Your Email</label>
      <div class="controls">
        <input type="text" class="input-xxlarge" id="nominator_email" name="nomination[nominator][email]">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="nominator_name">Your Phone</label>
      <div class="controls">
        <input type="text" class="input-xxlarge" id="nominator_phone" name="nomination[nominator][phone]">
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Nominee Details</legend>
    <div class="control-group">
      <label class="control-label" for="nominator_reason">I am nominating this person because.</label>
      <div class="controls">
        <input type="text" class="input-xxlarge" id="nomination_reason" name="nomination[nomination_reason]">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="good_leader_reason">I feel this person will be a good leader because.</label>
      <div class="controls">
        <input type="text" class="input-xxlarge" id="good_leader_reason" name="nomination[good_leader_reason]">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="num_years_known">How many years have you known each other?</label>
      <div class="controls">
        <input type="text" class="input-xxlarge" id="num_years_known" name="nomination[num_years_known]">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="personally_observed_leadership">I have personally observed this nominee's leadership skills.</label>
      <div class="controls">
        <select name="nomination[personally_observed_leadership]">
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="leadership_skills_observed">If you answered yes above, what leadership skills have you observed?</label>
      <div class="controls">
        <input type="text" class="input-xxlarge" id="leadership_skills_observed" name="nomination[leadership_skills_observed]">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="nominee_notified">I have notified the nominee about their nomination.</label>
      <div class="controls">
        <select name="nomination[nominee_notified]">
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
      </div>
    </div>
  </fieldset>

  <button class="btn btn-primary">Submit Nomination</button>
</form>
