<html>
  <body>
    <p>Hello ${nominator},</p>

    <p>
      This email is to inform you that your nomination for <strong>${nominee}</strong> has been successfully
      recorded in the Leadership Macon Nominations Database. Please don't hesitate to contact
      me if you have any questions.
    </p>

    <p>Thank you,</p>

    <p>
      Lynn Farmer<br/>
      Director of Leadership Macon<br/>
      Greater Macon Chamber of Commerce<br/>
      <a href="mailto:lfarmer@maconchamber.org">lfarmer@maconchamber.org</a><br/>
      (478) 621-2017
    </p>
  </body>
</html>
