extends layout

block content
  h1 Thank you for your nomination!

  p
    | Thank you for your nomination for the Leadership Macon Class of 2020!

  p
    | We have successfully recorded your nomination. We'll be reaching out to the
    | nominees to provide them with applications and to schedule interviews toward the
    | end of 2018. If we have any issues contacting the nominee we'll contact you to
    | try and correct our contact information for the nominee.

  p
    | Thank you again for your nomination,

  p
    | Lynn Farmer<br>
    | Director of Leadership Macon<br>
    | Greater Macon Chamber of Commerce
