doctype html
html
  body
    p #{nominatorName},

    p Thank you for nominating #{nomineeName} for the Leadership Macon Class of 2020.

    p
      | We'll be reaching out to the nominees towards the end of the year with instructions
      | on how to complete their application. No further action on your behalf is required
      | to make that happen.

    p Thank you for your support of Leadership Macon,

    p
      | Lynn Farmer<br>
      | Director of Leadership Macon<br>
      | Greater Macon Chamber of Commerce<br>
