doctype html
html
  body
    p
      | A new nomination has been added to the list of nomination for the
      | Leadership Macon Class of 2015. Here's the information provided
      | in the nomination.

    ul
      each val, field in nominationFields
        li #{field}: #{val}
